Yinhe.WebService/Web References/WebReference/PeddingToDo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPeddingToDoList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPeddingToDoListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPeddingToDoListResult" type="tns:ArrayOfPedding" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPedding">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Pedding" nillable="true" type="tns:Pedding" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Pedding">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="type" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetPeddingToDoListSoapIn">
    <wsdl:part name="parameters" element="tns:GetPeddingToDoList" />
  </wsdl:message>
  <wsdl:message name="GetPeddingToDoListSoapOut">
    <wsdl:part name="parameters" element="tns:GetPeddingToDoListResponse" />
  </wsdl:message>
  <wsdl:portType name="PeddingToDoSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPeddingToDoList">
      <wsdl:input message="tns:GetPeddingToDoListSoapIn" />
      <wsdl:output message="tns:GetPeddingToDoListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PeddingToDoSoap" type="tns:PeddingToDoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPeddingToDoList">
      <soap:operation soapAction="http://tempuri.org/GetPeddingToDoList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PeddingToDoSoap12" type="tns:PeddingToDoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPeddingToDoList">
      <soap12:operation soapAction="http://tempuri.org/GetPeddingToDoList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PeddingToDo">
    <wsdl:port name="PeddingToDoSoap" binding="tns:PeddingToDoSoap">
      <soap:address location="http://192.168.8.35:8070/PeddingToDo.asmx" />
    </wsdl:port>
    <wsdl:port name="PeddingToDoSoap12" binding="tns:PeddingToDoSoap12">
      <soap12:address location="http://192.168.8.35:8070/PeddingToDo.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>